REPLICATE_API_KEY=r8_690k0J11LajTiEOhWfSnc9PVwoUPzhn3rsqpi
NEXT_PUBLIC_UPLOAD_API_KEY=r8_690k0J11LajTiEOhWfSnc9PVwoUPzhn3rsqpi

# Optional, if you're doing rate limiting
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
